<div id="favorites-card" class="col s12 m6 l8">
  <div class="card grey lighten-4">
    <div class="card-content">
      <span class="card-title">Favorites</span>
      <ul class="collection">
	<li class="collection-item avatar" rv-each-station="radio.favorites" rv-data-station="station.id">
	  <button class="circle btn-floating waves-effect waves-light teal lighten-2 play-station-btn" rv-on-click="radioController.play_station">
	    <i class="material-icons">playlist_play</i>
	  </button>
	  <span class="title">{ station.name }</span>
	  <p>First Line<br />Second line</p>
	  <button class="secondary-content btn-flat favorite-station-btn" rv-on-click="radioController.set_favorite">
	    <i class="material-icons orange-text text-darken-4" rv-show="station.is_favorite">favorite</i>
	    <i class="material-icons orange-text text-darken-4" rv-hide="station.is_favorite">favorite_border</i>
	  </button>
	</li>
      </ul>
    </div>
  </div>
</div>
