<div id="player-card" class="col s12 m6 l4">
  <div class="card grey lighten-4">
    <div class="card-content">
      <span class="card-title" rv-class-grey-text="radio.status.name | negate" rv-class-text-lighten-1="radio.status.name | negate">{ radio.status | station_name }</span>
      <span class="now-playing">{ radio.status.title }</span>
    </div>
    <div class="card-action center">
      <p class="range-field">
	<input type="range" id="volume-slider" min="0" max="100" rv-value="radio.status.volume" />
	<label for="volume-slider">Volume</label>
      </p>
      <button id="player-btn-play-pause" class="btn-floating waves-effect waves-light orange darken-4" rv-on-click="radioController.play_pause_current" rv-enabled="radio.status.url">
	<i class="material-icons" rv-show="radio.status.state | eq 'PLAYING'">pause_circle_filled</i>
	<i class="material-icons" rv-show="radio.status.state | neq 'PLAYING'">play_circle_filled</i>
      </button>
    </div>
  </div>
</div>
