/*
  Color palette:
  https://material.io/color/#!/?view.left=0&view.right=0&secondary.color=1565C0&primary.color=FF5722
*/

@media only screen and (min-width: 601px) {
    nav .brand-logo {
	margin-left: 15px;
    }
}

#sidenav-overlay {
    z-index: 1;
}

.now-playing {
    min-height: 3em;
    display: block;
}

.brand-logo {
    font-weight: 300;
}

input[type=range]+.thumb {
    background-color: #1565c0;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #1565c0;
}

input[type=range]::-ms-thumb {
    background-color: #1565c0;
}

input[type=range]::-moz-range-thumb {
    background-color: #1565c0;
}


/* label focus color */
.input-field input[type=text]:focus + label {
    color: #1565c0;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #000;
}

/* Tab search bar */
nav .input-field {
    padding-right: 42px;
}

nav .input-field input[type=search] {
    height: 2.5em;
    margin-right: 26px;
}

nav .input-field input[type=search]:focus {
    background-color: transparent;
    color: #FFF;
}

nav .input-field input[type=search] {
    color: rgba(255,255,255,0.7);
}

nav .input-field input[type=search] ~ .label-icon .material-icons {
    color: rgba(255,255,255,0.7);
    margin-top: -5px;
}

nav .input-field input[type=search]:focus ~ .label-icon .material-icons {
    color: #FFF;
}

nav .input-field input[type=search]:focus ~ .material-icons {
    color: #FFF;
    margin-top: -5px;
}

nav .input-field input[type=search]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(255,255,255,0.7);
}
nav .input-field input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(255,255,255,0.7);
    opacity:  1;
}
nav .input-field input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(255,255,255,0.7);
    opacity:  1;
}
nav .input-field input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.7);
}
nav .input-field input[type=search]::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255,255,255,0.7);
}

@media only screen and (min-width: 993px) {
    .input-field input[type=search] {
	width: 250px;
    }
}

.below-extended-nav {
    margin-top: 56px;
}

.category-card .card-title {
    color: rgba(0,0,0,0.87);
}

.category-card .category-description {
    color: rgba(0,0,0,0.6);
}

/* Wave colors */
.waves-effect.waves-blue .waves-ripple {
    background-color: #1565c0;
}

#categories a.card {
    width: 100%;
}

#categories .category-description {
    height: 4em;
    display: block;
}
