{% extends "layout.html" %}
{% set active_page = "discover" %}
{% block navbar_content %}
<div class="nav-content deep-orange lighten-1">
  <ul class="tabs tabs-transparent">
    <li class="tab"><a href="#categories">Categories</a></li>
    <li class="tab"><a href="#countries">Countries</a></li>
    <li class="tab">
      <a href="#search">
	<div class="input-field active">
	  <input id="search-input" type="search" placeholder="Search" required>
	  <label class="label-icon" for="search-input"><i class="material-icons">search</i></label>
	  <i class="material-icons">close</i>
	</div>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content %}
<div id="categories" class="col s12 below-extended-nav">
  {% include "categories_view.html" %}
</div>
<div id="countries" class="col s12 below-extended-nav">
  {% include "countries_view.html" %}
</div>
<div id="search" class="col s12 below-extended-nav">
  {% include "search_view.html" %}
</div>
{% endblock %}
