{% set nav_links = [
  ('/', 'player', 'Player'),
  ('/discover', 'discover', 'Discover'),
  ('/settings', 'settings', 'Settings')
] -%}
<!DOCTYPE html>
<html>
  <head>
    <title>RadioRemote</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#c41c00" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/icon.png') }}">

    <link rel="shortcut icon" sizes="192x192" href="{{ url_for('static', filename='img/icon_highres.png') }}">
    <link rel="shortcut icon" sizes="144x144" href="{{ url_for('static', filename='img/icon.png') }}">
  </head>

  <body class="grey lighten-2">
    <div class="navbar-fixed">
      <nav class="nav-extended">
	<div class="nav-wrapper deep-orange lighten-1">
	  <a href="/" class="brand-logo">RadioRemote</a>
	  <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    {% for url, id, caption in nav_links %}
	    <li{% if active_page == id %} class="active"{% endif%}><a href="{{ url|e }}">{{ caption|e }}</a></li>
	    {% endfor %}
	  </ul>
	  <ul class="side-nav" id="mobile-menu">
	    {% for url, id, caption in nav_links %}
	    <li{% if active_page == id %} class="active"{% endif%}><a href="{{ url|e }}">{{ caption|e }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% block navbar_content %}{% endblock %}
      </nav>
    </div>
    {% for message in get_flashed_messages() %}
    <script type="text/javascript">
      Materialize.toast('{{ message }}', 4000)
    </script>
    {% endfor %}

    <div id="content">
      {% block content %}{% endblock%}
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rivets.bundled.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/webradio.js', version=1) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js', version=1) }}"></script>
  </body>
</html>
